/* --- Globalne --- */
* {
	transition-duration: 0.4s;
	box-sizing: border-box;
}
body {
	background-image: linear-gradient(to right, orange , purple);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* --- --- --- */

/* --- Części strony --- */
#titlebar {
	display: flex;
	justify-content: space-between;
}
.column {
	display: grid;
	float: left;
	width: 25%;
	padding: 10px;
	padding-bottom: 5vh;
}
#log_history table tr, #log_history table td {
	border: 2px black solid;
}
#log_history table {
	box-align: center;
	border-collapse: collapse;
}
#log_history table td {
	text-transform: uppercase;
	font-size: 1.15vw;
}
/* --- --- --- */

/* --- Kontrolki --- */
#sl_btn { /* Przycisk zapisu */
	font-size: 5vw;
	width: 50%;
	background: #aaa;
	border: none;
}
#sl_btn:hover {
	background: #bbb;
}
#sl_btn:active {
	background: #ccc;
}

#title {
	font-size: 10vw;
}

.linp { /* Tytuły pól */
	font-size: 2vw;
	margin-top: 10px;
}
input, select { /* Pola */
	font-size: 3vw;
	max-width: 23vw;
	min-height: 7vh;
	text-transform: uppercase;
}
/* --- --- --- */

/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}